name: Deploy to preview server

on:
  push:
    branches: [ "master" ]
  # 手动触发事件
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn package -DoutputDirectory=/build -P preview

      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.PREVIEW_SERVER_SSH_PRIVATE_KEY }}
          ARGS: '-avz --delete'
          SOURCE: 'build/'
          REMOTE_HOST: ${{ secrets.PREVIEW_SERVER_HOST }}
          REMOTE_USER: ${{ secrets.PREVIEW_SERVER_USER }}
          TARGET: ${{ secrets.GUANDAN_TARGET }}